<!DOCTYPE html>


<head>
{% load staticfiles %}    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href='{% static "css/bootstrap-colorselector.css" %}'>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src='{% static "js/bootstrap-colorselector.js" %}'></script>
<style>
aside { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px; 
    background: rgba(255,255,255,0.66); 
    border: 1px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
}
td {
    width: 25px;
    height: 25px;
}
table {
    padding: 50px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
  body {
    padding-top: 10px; /* 60px to make the container go all the way to the bottom of the topbar */
}

label {
    text-align: right;
    }

</style>
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header" style="padding-left:6em">
        <span class="navbar-brand">FoE mreža</span>
    </div>
    <div>
        <ul class="nav navbar-nav" style="padding-left:6em">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    moje mreze<b class="caret"></b>
                </a>
                <ul class="dropdown-menu seznam_mrez">
                    {% for mreza in vse_mreze %}
                    <li class="mreza_v_seznamu"><a id="mreza_{{mreza.pk}}">{{mreza.ime}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a href="{% url 'mreza' %}">nastavitve</a></li>
            <li><a href="{% url 'mreza' %}">statistika</a></li>
                
        </ul>
                
        <ul class="nav navbar-nav navbar-right" style="padding-right:6em">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{user}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">nastavitve profila</a></li>
                    <li><a href="{% url 'odjava' %}">odjava</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="tabela col-xs-7" id="mreza">
        <table class="table-bordered table-condensed">
        <caption> mreža: {{ default_mreza.ime }}</caption>

            <tbody class='t'></tbody>
            
        </table>
       
    </div>
    
    <div id="desno" class="col-xs-5">
        <div class="container">
        <form class='form-horizontal' role='form'>{% csrf_token %}
            <div class='row'>
                <div class="col-xs-3"><label for="mre">dimenzije ozemlja</label></div>
                <div class="col-xs-3"><input class="form-control" type="text"  name="mre" value="20x15" id="mre"/></div>
                <div class="col-xs-2"><button type="button" id="dimenzije" class="btn btn-default ">spremeni</button></div>
            </div><p></p>
            <div class='row'>
                <div class="col-xs-3"><label for="ime_mreze">ime ozemlja (shrani trenutno situacijo)</label></div>
                <div class="col-xs-3"><input class="form-control" type="text"  mane="ime_mreze" value="" id="ime_mreze"/></div>
                <div class="col-xs-2"><button type="button" id="shrani" class="btn btn-default">shrani</button></div>
            </div><p></p>
            
            <div class='row'>
                <div class="col-xs-3"><h4>ustvari nov batiment</h4></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
            </div><p></p>
            
            <div class='row'>
                <div class="col-xs-3"><label for="ime">naziv batimenta </label></div>
                <div class="col-xs-3"><input class="form-control" type="text" mane="ime" id="ime"></div>
                <div class="col-xs-2"></div>
            </div><p></p>
            
            <div class='row'>
                <div class="col-xs-3"><label for="velikost">dimenzije batimenta </label></div>
                <div class="col-xs-3"><input class="form-control" type="text" name="velikost" value="3x4" id="velikost"/></div>
                <div class="col-xs-3">
                    <select id="colorselector">
                        <option value="106" data-color="#A0522D"></option>
                        <option value="47" data-color="#CD5C5C" selected="selected"></option>
                        <option value="87" data-color="#FF4500"></option>
                        <option value="15" data-color="#DC143C"></option>
                        <option value="24" data-color="#FF8C00"></option>
                        <option value="78" data-color="#C71585"></option>
                     </select>
                 <button type="button" id="novbat" class=" gumb btn btn-default">Ustvari</button>
                 </div><p></p>
                </div>     
           
        </form>
        </div>
    </div>
</div>
    
<script>



    $('.form-group p').addClass('row');
    var mreza_pk = {{ default_mreza.pk }};
    var sirina_default={{ default_mreza.sirina }};
    var visina_default={{ default_mreza.visina }};
    var ime_default='{{ default_mreza.ime }}';
    var user = '{{ user }}';
    
</script>  
<script src='{% static "js/mreza.js" %}'></script>
</body>
</html>